*Xackery*
Logs/
*.sql
texture.txt
UIErrors.txt
eqgame.exe-shortcut.lnk
demoncia.zip
*.id*
*.til
*.nam
*.exp
UIErrors.txt
UI_*.ini
*_de.ini
*.lnk
demoncia.yml
filelist.yml
notes.txt
*.autosave.map
waypoint.bat
rof/*.map
imgui.ini
eqlsPlayerData.ini
*.i64
*.opt
*.blend1
*.config